In [1]:
import numpy as np
import pandas as pd

import scipy as sp
import scipy.stats

import matplotlib.pyplot as plt
import seaborn as sns

# os 패키지를 통해 현재 디렉토리 위치를 변경하고, read_csv를 더 편리하게 할 수 있음
import os
os.getcwd() # 현재 디렉토리 파악
# os.chdir(r"______") # 불러오고 싶은 파일이 위치한 주소를 ___에 입력

# 다른 노트북 작성할 때도 이 셀만 떼서 사용 가능하다.
import platform                

# 웬만하면 해주는 것이 좋다.
from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin': #맥os 사용자의 경우에
    plt.style.use('seaborn-darkgrid') 
    rc('font', family = 'AppleGothic')
    
elif platform.system() == 'Windows':#윈도우 사용자의 경우에
    path = 'c:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    plt.style.use('seaborn-v0_8-whitegrid') # https://python-graph-gallery.co|m/199-matplotlib-style-sheets/
    rc('font', family=font_name)
    
# tqdm
from tqdm.notebook import tqdm

## 1. 데이터 로드

In [2]:
train = pd.read_csv('c:/reposit/data/dacon/235743_구내식당 식사 인원 예측 AI 경진대회_data/train.csv')
test = pd.read_csv('c:/reposit/data/dacon/235743_구내식당 식사 인원 예측 AI 경진대회_data/test.csv')

train.shape, test.shape

((1205, 12), (50, 10))

## 2. 데이터 확인

In [3]:
train.head(3)

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0

In [4]:
test.head(3)

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴
0,2021-01-27,수,2983,88,182,5,358.0,모닝롤/연유버터베이글 우유/주스 계란후라이/찐계란 단호박죽/흑미밥 우거지국 고기완자...,쌀밥/흑미밥/찰현미밥 대구지리 매운돈갈비찜 오꼬노미계란말이 상추무침 포기김치 양상추...,흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1,2021-01-28,목,2983,104,212,409,348.0,모닝롤/대만샌드위치 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 황태국 시래기지짐 ...,쌀밥/보리밥/찰현미밥 우렁된장찌개 오리주물럭 청양부추전 수제삼색무쌈 겉절이김치 양상...,충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2,2021-01-29,금,2983,270,249,0,294.0,모닝롤/핫케익 우유/주스 계란후라이/찐계란 오곡죽/흑미밥 매생이굴국 고구마순볶음 양...,쌀밥/흑미밥/찰현미밥 팽이장국 수제돈까스*소스 가자미조림 동초나물무침 포기김치 양상...,흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   일자              1205 non-null   object
 1   요일              1205 non-null   object
 2   본사정원수           1205 non-null   int64
 3   본사휴가자수          1205 non-null   int64
 4   본사출장자수          1205 non-null   int64
 5   본사시간외근무명령서승인건수  1205 non-null   int64
 6   현본사소속재택근무자수     1205 non-null   float64
 7   조식메뉴            1205 non-null   object
 8   중식메뉴            1205 non-null   object
 9   석식메뉴            1205 non-null   object
 10  중식계             1205 non-null   float64
 11  석식계             1205 non-null   float64
dtypes: float64(3), int64(4), object(5)
memory usage: 113.1+ KB

In [6]:
train.isnull().sum().to_frame('nan')

                nan
일자                0
요일                0
본사정원수             0
본사휴가자수            0
본사출장자수            0
본사시간외근무명령서승인건수    0
현본사소속재택근무자수       0
조식메뉴              0
중식메뉴              0
석식메뉴              0
중식계               0
석식계               0

In [7]:
test.isnull().sum().to_frame('nan')

                nan
일자                0
요일                0
본사정원수             0
본사휴가자수            0
본사출장자수            0
본사시간외근무명령서승인건수    0
현본사소속재택근무자수       0
조식메뉴              0
중식메뉴              0
석식메뉴              0

## 3. 데이터 전처리

### 컬럼명 수정

In [8]:
train.columns = ['date', 'dow', 'employees', 'dayoff', 'bustrip', 'ovtime', 'remote', 'brk', 'lun', 'din', 'target_lun', 'target_din']
train.head(1)

,date,dow,employees,dayoff,bustrip,ovtime,remote,brk,lun,din,target_lun,target_din
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0

In [9]:
test.columns = ['date', 'dow', 'employees', 'dayoff', 'bustrip', 'ovtime', 'remote', 'brk', 'lun', 'din']
test.head(1)

,date,dow,employees,dayoff,bustrip,ovtime,remote,brk,lun,din
0,2021-01-27,수,2983,88,182,5,358.0,모닝롤/연유버터베이글 우유/주스 계란후라이/찐계란 단호박죽/흑미밥 우거지국 고기완자...,쌀밥/흑미밥/찰현미밥 대구지리 매운돈갈비찜 오꼬노미계란말이 상추무침 포기김치 양상추...,흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치

### 날짜와 요일

In [10]:
def to_datetime(df, date):
    df['date'] = pd.to_datetime(df['date'])
    df['dow'] = df['date'].dt.weekday

In [11]:
to_datetime(train, 'date')
to_datetime(test, 'date')

In [12]:
train.head(1)

,date,dow,employees,dayoff,bustrip,ovtime,remote,brk,lun,din,target_lun,target_din
0,2016-02-01,0,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0

In [13]:
test.head(1)

,date,dow,employees,dayoff,bustrip,ovtime,remote,brk,lun,din
0,2021-01-27,2,2983,88,182,5,358.0,모닝롤/연유버터베이글 우유/주스 계란후라이/찐계란 단호박죽/흑미밥 우거지국 고기완자...,쌀밥/흑미밥/찰현미밥 대구지리 매운돈갈비찜 오꼬노미계란말이 상추무침 포기김치 양상추...,흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1205 non-null   datetime64[ns]
 1   dow         1205 non-null   int64
 2   employees   1205 non-null   int64
 3   dayoff      1205 non-null   int64
 4   bustrip     1205 non-null   int64
 5   ovtime      1205 non-null   int64
 6   remote      1205 non-null   float64
 7   brk         1205 non-null   object
 8   lun         1205 non-null   object
 9   din         1205 non-null   object
 10  target_lun  1205 non-null   float64
 11  target_din  1205 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(5), object(3)
memory usage: 113.1+ KB

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       50 non-null     datetime64[ns]
 1   dow        50 non-null     int64
 2   employees  50 non-null     int64
 3   dayoff     50 non-null     int64
 4   bustrip    50 non-null     int64
 5   ovtime     50 non-null     int64
 6   remote     50 non-null     float64
 7   brk        50 non-null     object
 8   lun        50 non-null     object
 9   din        50 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 4.0+ KB

### 메뉴명

In [18]:
res = []

for i in tqdm(range(len(train))):
    
    tmp = train.iloc[i, 8].split(' ')
    tmp = ' '.join(tmp).split()
    
    for menu in tmp:
        if '(' in menu:
            tmp.remove(menu)
    res.append(tmp)

res[:5]

  0%|          | 0/1205 [00:00<?, ?it/s]

[['쌀밥/잡곡밥', '오징어찌개', '쇠불고기', '계란찜', '청포묵무침', '요구르트', '포기김치'],
 ['쌀밥/잡곡밥', '김치찌개', '가자미튀김', '모둠소세지구이', '마늘쫑무침', '요구르트', '배추겉절이'],
 ['카레덮밥', '팽이장국', '치킨핑거', '쫄면야채무침', '견과류조림', '요구르트', '포기김치'],
 ['쌀밥/잡곡밥', '쇠고기무국', '주꾸미볶음', '부추전', '시금치나물', '요구르트', '포기김치'],
 ['쌀밥/잡곡밥', '떡국', '돈육씨앗강정', '우엉잡채', '청경채무침', '요구르트', '포기김치']]

In [1]:
xs = range(1, 6)
xs = [x * 2 for x in xs if x % 2 == 0]
xs

[4, 8]

In [2]:
def add(x, y):
    return x + y

def outer(x):
    def inner(y):
        return x + y
    return inner

In [8]:
outer(2)(4)

6

In [9]:
outer(4)(2)

6

In [16]:
from functools import partial

In [20]:
partial(add, 2)(4)

6

In [12]:
[0, 1] * 3

[0, 1, 0, 1, 0, 1]

In [15]:
print(None == False)

False

In [10]:
import re

In [8]:
line1 = '2023-05-01 10:20:50 200 GET /page1.html'

In [9]:
line1.split()[1]

'10:20:50'

In [14]:
re.findall(r'\d{2}:\d{2}:\d{2}', line)[:1]

['10:20:50']

In [16]:
re.findall(r'\d+.\d+.:\d+', line)[0]

'01 10:20'

In [23]:
l1 = list(range(1, 6))

In [24]:
sum(x**2 for x in l1 if x % 2 == 0)

20

In [25]:
sum(x * x if x % 2 == 0 else 0 for x in l1)

20

In [27]:
sum(x**2 if x % 2 == 0 else 0 for x in l1)

20

In [40]:
t1 = [2.3, 5.3, 4.1, None, 1.6]

In [30]:
total, count = 0, 0

for t in t1:
    if t is not None:
        total += t
        count += 1
avg = total / count

for t in t1:
    if t is None:
        t = avg
t1

[2.3, 5.3, 4.1, None, 1.6]

In [31]:
sum(t1) / len(t1)

TypeError: unsupported operand type(s) for +: 'float' and 'NoneType'

In [36]:
t2 = [t for t in t1 if t]

avg1 = sum(t2) / len(t2)
avg1

3.3249999999999997

In [38]:
for i, t in enumerate(t1):
    t1[i] =  t or avg
t1

[2.3, 5.3, 4.1, 3.3249999999999997, 1.6]

In [42]:
t1[3]

In [43]:
[t for t in t1 if t is not None]

[2.3, 5.3, 4.1, 1.6]

In [44]:
[t or avg for t in t1]

[2.3, 5.3, 4.1, 3.3249999999999997, 1.6]

In [47]:
[t for t in t1 if t is not None]

[2.3, 5.3, 4.1, 1.6]

In [50]:
t1[:] = [t if t is not None else avg for t in t1]
t1

[2.3, 5.3, 4.1, 3.3249999999999997, 1.6]

3.3249999999999997

In [51]:
t1

[2.3, 5.3, 4.1, 3.3249999999999997, 1.6]