In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../data/seoul.csv')
df.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-10-01  108     13.5      7.9     20.7
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
4  1907-10-05  108     17.6     10.9     25.4

In [7]:
df.shape

(39926, 5)

In [ ]:
df.