In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../data/seoul.csv')
df.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-10-01  108     13.5      7.9     20.7
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
4  1907-10-05  108     17.6     10.9     25.4

In [7]:
df.shape

(39926, 5)

In [8]:
df.isnull().sum()

날짜           0
지점           0
평균기온(℃)    756
최저기온(℃)    757
최고기온(℃)    758
dtype: int64

In [11]:
df[df['평균기온(℃)'].isnull()]

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
15676  1950-09-01  108      NaN      NaN      NaN
15677  1950-09-02  108      NaN      NaN      NaN
15678  1950-09-03  108      NaN      NaN      NaN
15679  1950-09-04  108      NaN      NaN      NaN
15680  1950-09-05  108      NaN      NaN      NaN
...           ...  ...      ...      ...      ...
16427  1953-11-26  108      NaN      NaN      NaN
16428  1953-11-27  108      NaN      NaN      NaN
16429  1953-11-28  108      NaN      NaN      NaN
16430  1953-11-29  108      NaN      NaN      NaN
16431  1953-11-30  108      NaN      NaN      NaN

[756 rows x 5 columns]

In [20]:
df[df.iloc[:, 2].isnull()]

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
15676  1950-09-01  108      NaN      NaN      NaN
15677  1950-09-02  108      NaN      NaN      NaN
15678  1950-09-03  108      NaN      NaN      NaN
15679  1950-09-04  108      NaN      NaN      NaN
15680  1950-09-05  108      NaN      NaN      NaN
...           ...  ...      ...      ...      ...
16427  1953-11-26  108      NaN      NaN      NaN
16428  1953-11-27  108      NaN      NaN      NaN
16429  1953-11-28  108      NaN      NaN      NaN
16430  1953-11-29  108      NaN      NaN      NaN
16431  1953-11-30  108      NaN      NaN      NaN

[756 rows x 5 columns]