In [1]:
import re

```python3
# 문자열 속에 패턴이 존재합니까? 질문에 대한 답이 출력됨
re.함수명(패턴, 문자열)

```

In [5]:
re.search('^Hello', 'Hello, World!')
re.search('^Hello', 'Hi, Hello, World!')

re.search('World!$', 'Hi, Hello, World!')
re.search('World!$', 'Hi, Hello, World!!')

In [6]:
re.findall('[0-9]+', '1 2 Fizz 4 Buzz Fizz 7 8')

['1', '2', '4', '7', '8']

In [7]:
re.findall('[0-9]*', '1 2 Fizz 4 Buzz Fizz 7 8')

['1',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '4',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '7',
 '',
 '8',
 '']

In [8]:
re.findall('[0-9]+', '1 2 Fizz 4 Buzz Fizz 7 899')

['1', '2', '4', '7', '899']

In [9]:
re.findall('\d', '1 2 Fizz 4 Buzz Fizz 7 899')

['1', '2', '4', '7', '8', '9', '9']

+ 언어모델 : 통계적 모델, 신경망(기반) 모델
    - 나는 오늘 강의실에서 자연어처리를 ?
+ 통계적 모델 : 단어의 순서에 대해 확률이 부여
    - P(나는 자연어 처리를 공부한다) > P(나는 자연어 처리를 먹는다)
    - P(공부한다|나는, 자연어, 처리를)

+ n-gram : 문서(장,단)간 유사
    - '오늘 점심 추천 메뉴:소고기볶음밥, 햄볶음밥'
    - 유니그램(n=1) : 오늘, 점심, 추천, 메뉴,소고기볶음밥, 햄볶음밥
    - 바이그램(n=2) : 오늘 점심,점심 추천,추천 메뉴,메뉴 소고기볶음밥,소고기볶음밥 햄볶음밥
    - Trigram(n=3)
   
```
P(소고기볶음밥|점심 추천 메뉴) =
 count(점심 추천 메뉴 소고기볶음밥) / count(점심 추천 메뉴) = 20/30
P(햄볶음밥|점심 추천 메뉴) =
 count(점심 추천 메뉴 햄볶음밥) / count(점심 추천 메뉴) = 5/30
```

점심 추천 메뉴 ?(소고기볶음밥)

*시간이 되면 LCS(Longest Common Subsequence) 알고리즘 공부

1. 한국어는 단어의 순서가 큰 의미 없음 -> 신경망(RNN, LSTM) 기반 생성시 어려움
    - 얕은 신경망: NN(뉴럴네트워크)
    - 깊은 신경망: DNN, CNN, RNN 등
    

Linear Regression(예측, 회귀) 
-> Logistic Regression(이진 분류, SIGMOID) 
-> SOFTMAX(다중 분류)
-> 얕은 신경망
-> 깊은 신경망(입력/히든 1개 이상/출력): DNN(딥뉴럴네트워크)


+ Linear Regression(예측, 회귀)
    - h(x) = wx + b
    - sigmoid(h(x)) = 1 / (1+e^-h(x)) (0~1 범위)


+ 다중 분류
    - 이진 분류기를 여러 개 사용하여 분류

+ DTM(Document Term Matrix, TF)
    - 문서 단어 행렬
    - Document(행): 문서, 소설책 등등 무엇이든 가능
    - Term(열): Document에 등장하는 단어
    - Matrix: 등장 횟수
    - TDM: DTM의 전치 행렬
        * 주로 DTM을 더 많이 쓴다(TDM은 행이 너무 길어져 보기 어려움)

In [2]:
# 단어 가방(BoW)
from sklearn.feature_extraction.text import CountVectorizer # 단어의 빈도수로 벡터를 생성

In [3]:
corpus = ['나는 지금 자연어 처리를 공부해요. 나는 자연어 좋아요. 나는 자연인이에요.']

vector = CountVectorizer()

v1 = vector.fit_transform(corpus)
v1

<1x7 sparse matrix of type '<class 'numpy.int64'>'
	with 7 stored elements in Compressed Sparse Row format>

+ fit
    - 각각의 단어들로 인덱스 부여
+ fit_transform
    - corpus에 저장된 문장을 fit 결과에 맞춰서 변환
    
---

+ sparse matrix 희소 행렬
    - 행렬 요소의 값이 대부분 0인 행렬 -> 공간 낭비, 연산량이 많음

In [4]:
v1.toarray()

array([[1, 3, 2, 1, 1, 1, 1]], dtype=int64)

In [5]:
vector.vocabulary_

{'나는': 1, '지금': 5, '자연어': 2, '처리를': 6, '공부해요': 0, '좋아요': 4, '자연인이에요': 3}

+ 텍스트 마이닝에서 코사인 유사도는 0 - 90도 안에서 정리된다.
    - 음수가 나올 수 없음

+ **TFIDF(TF \* IDF)**
    - TF(d, t): 문서 d에서 단어 t의 등장 횟수(DTM에서 행렬의 요소값이 tf)
    - df(t): 단어 t가 등장한 문서의 개수
        * df(t)의 값이 크다? 단어가 흔하다
    - idf(d, t): log(n:문서의 개수 / df(t) + 1)
        * n은 전체 문서의 개수
        * n이 커지면 기하급수적으로 커지기 때문에 **log**를 취해준다


```
예) n = 1000, 
idf(d, t) = log(1000 / df(t))
df(t) = 1, idf(d, t)는 log(1000/1) = 3
df(t) = 10, idf(d, t)는 log(1000/10) = 2

```

In [13]:
corpus = [
    'I love you', # 문서 1
    'I can do it', # 문서 2
    'I want your love' # 문서 3
]

v1 = CountVectorizer()

a1 = v1.fit_transform(corpus).toarray()

a1, v1.vocabulary_

(array([[0, 0, 0, 1, 0, 1, 0],
        [1, 1, 1, 0, 0, 0, 0],
        [0, 0, 0, 1, 1, 0, 1]], dtype=int64),
 {'love': 3, 'you': 5, 'can': 0, 'do': 1, 'it': 2, 'want': 4, 'your': 6})

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
idf_v1 = TfidfVectorizer()

idf_v1.fit_transform(corpus).toarray()

array([[0.        , 0.        , 0.        , 0.60534851, 0.        ,
        0.79596054, 0.        ],
       [0.57735027, 0.57735027, 0.57735027, 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.4736296 , 0.62276601,
        0.        , 0.62276601]])

+ tf \* idf 값이 크려면?
    - 특정 단어가 많이 등장하되, 여러 문서에는 등장하지 않는 흔치 않은 단어여야 한다.

In [16]:
corpus = [
    'I love you', # 문서 1
    'I can do it love', # 문서 2
    'I want your love' # 문서 3
]

idf_v1 = TfidfVectorizer()

idf_v1.fit_transform(corpus).toarray()

array([[0.        , 0.        , 0.        , 0.50854232, 0.        ,
        0.861037  , 0.        ],
       [0.54645401, 0.54645401, 0.54645401, 0.32274454, 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.38537163, 0.65249088,
        0.        , 0.65249088]])

In [17]:
corpus = [
    'I do love you', # 문서 1
    'I can do it love', # 문서 2
    'I want your love' # 문서 3
]

idf_v1 = TfidfVectorizer()

idf_v1.fit_transform(corpus).toarray()

array([[0.        , 0.54783215, 0.        , 0.42544054, 0.        ,
        0.72033345, 0.        ],
       [0.5844829 , 0.44451431, 0.5844829 , 0.34520502, 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.38537163, 0.65249088,
        0.        , 0.65249088]])

In [18]:
import numpy as np
from numpy import dot
from numpy.linalg import norm

In [19]:
# 예시
# d1, d2, d3는 영화 제목
# 각 열은 영화 대사에 등장한 단어(사랑, 돈, 운명, 증오 등)

d1 = np.array([1, 1, 1, 0])
d2 = np.array([0, 1, 1, 1])
d3 = np.array([0, 5, 5, 5])

In [21]:
dot(d1, d2), dot(d1, d3), dot(d2, d3)

(2, 10, 15)

In [22]:
norm(d1), norm(d2)

(1.7320508075688772, 1.7320508075688772)

In [23]:
norm(d1) * norm(d2)

2.9999999999999996

In [26]:
dot(d1, d2) / (norm(d1) * norm(d2))

0.6666666666666667

In [27]:
dot(d2, d3) / (norm(d2) * norm(d3))

1.0

### 자카드 유사도

```
자카드 유사도
*집합의 원소는 단어에 해당됨
자카드 유사도(d1, d2) = (d1 교집합 d2) / (d1 합집합 d2)

d1 = '바다 하늘 육지'
d2 = '바다 들판 우주'

```

In [28]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [44]:
df = pd.read_csv('c:/reposit/data/bigleader/movies_metadata.csv')
df.shape

C:\Users\Playdata\AppData\Local\Temp\ipykernel_9944\167138994.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('c:/reposit/data/bigleader/movies_metadata.csv')

(45466, 24)

In [45]:
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [46]:
df = df.head(10000)
df.shape

(10000, 24)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  10000 non-null  object
 1   belongs_to_collection  1421 non-null   object
 2   budget                 10000 non-null  object
 3   genres                 10000 non-null  object
 4   homepage               662 non-null    object
 5   id                     10000 non-null  object
 6   imdb_id                9999 non-null   object
 7   original_language      10000 non-null  object
 8   original_title         10000 non-null  object
 9   overview               9971 non-null   object
 10  popularity             10000 non-null  object
 11  poster_path            9969 non-null   object
 12  production_companies   10000 non-null  object
 13  production_countries   10000 non-null  object
 14  release_date           9995 non-null   object
 15  revenue                10000 non-null  float64
 16  runtime                9994 non-null   float64
 17  spoken_languages       10000 non-null  object
 18  status                 9992 non-null   object
 19  tagline                6892 non-null   object
 20  title                  10000 non-null  object
 21  video                  10000 non-null  object
 22  vote_average           10000 non-null  float64
 23  vote_count             10000 non-null  float64
dtypes: float64(4), object(20)
memory usage: 1.8+ MB

In [48]:
df.isnull().sum().to_frame('nan count')

                       nan count
adult                          0
belongs_to_collection       8579
budget                         0
genres                         0
homepage                    9338
id                             0
imdb_id                        1
original_language              0
original_title                 0
overview                      29
popularity                     0
poster_path                   31
production_companies           0
production_countries           0
release_date                   5
revenue                        0
runtime                        6
spoken_languages               0
status                         8
tagline                     3108
title                          0
video                          0
vote_average                   0
vote_count                     0

In [50]:
df1 = df.dropna(subset=['overview'])
df1.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [52]:
tfidf1 = TfidfVectorizer(stop_words='english')

tfidf1_m = tfidf1.fit_transform(df1['overview'])

tfidf1_m.shape

(9971, 32350)

In [55]:
tfidf1_m

<9971x32350 sparse matrix of type '<class 'numpy.float64'>'
	with 268918 stored elements in Compressed Sparse Row format>

In [63]:
cs1 = cosine_similarity(tfidf1_m, tfidf1_m)
cs1.shape

(9971, 9971)

In [58]:
df1['title']

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
9995                Miracle in Milan
9996                 Before the Fall
9997                  The Frisco Kid
9998    Onmyoji: The Yin Yang Master
9999                State Property 2
Name: title, Length: 9971, dtype: object

In [61]:
dict1 = dict(zip(df1['title'], df1.index))

dict1['Toy Story']

0

In [69]:
cs1[0]

array([1.        , 0.01682702, 0.        , ..., 0.        , 0.        ,
       0.        ])

In [70]:
cs1[0]

1.0

In [84]:
def rec(title):
    idx = dict1[title]
    
    sim_scores = cs1[idx]
    # print(sim_scores)
    # print(list(enumerate(cs1[idx])))
    
    return sorted(list(enumerate(cs1[idx])), key=lambda x: x[1], reverse=True)[1:11]

    # 딕셔너리로 만들어서 제목 나오게 만들어보기
    # for문을 사용하긴 해야 될 듯

In [85]:
rec('Toy Story')

[(2979, 0.45640116299321576),
 (8303, 0.2124905700530333),
 (1058, 0.18334114054541267),
 (3039, 0.14786862957430816),
 (1916, 0.14188400131919193),
 (483, 0.14122879570764107),
 (5776, 0.13658477775649094),
 (7230, 0.13020729283405372),
 (6920, 0.1262712833243566),
 (7591, 0.12460142360135702)]