In [3]:
# 라이브러리를 불러옵니다.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 

# 커널을 구성하다보면 에러는 아니지만, 빨간색 네모 박스 warning이 뜨는 경우가 많다. 
# 그런 보기 싫은 부분들을 제거해주겠다.
import warnings
warnings.filterwarnings('ignore')

# notebook을 실행한 브라우저에서 바로 그림을 볼 수 있게 해주는 것
# %matplotlib inline

# os 패키지를 통해 현재 디렉토리 위치를 변경하고, read_csv를 더 편리하게 할 수 있음
import os
# os.getcwd() # 현재 디렉토리 파악
# os.chdir(r"______") # 불러오고 싶은 파일이 위치한 주소를 ___에 입력
from collections import Counter
from glob import glob


# 다른 노트북 작성할 때도 이 셀만 떼서 사용 가능하다.
import platform

# 웬만하면 해주는 것이 좋다.
from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin': # 맥os 사용자의 경우에
    plt.style.use('seaborn-darkgrid')
    rc('font', family = 'AppleGothic')
    
elif platform.system() == 'Windows': # 윈도우 사용자의 경우에
    path = 'c:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    # plt.style.use('seaborn-darkgrid') # https://python-graph-gallery.com/199-matplotlib-style-sheets/
    rc('font', family=font_name)

# tqdm
from tqdm.notebook import tqdm

# 이유한님
# 이 두줄은 본 필자가 항상 쓰는 방법입니다. matplotlib 의 기본 scheme 말고 seaborn scheme 을 세팅하고, 일일이 graph 의 font size 를 지정할 필요 없이 seaborn 의 font_scale 을 사용하면 편합니다.
# import missingno as msno
# plt.style.use('seaborn')
# sns.set(font_scale=1)

In [6]:
path = 'c:/reposit/data/kaggle/5/'

In [29]:
df_train = pd.read_csv(path + 'train.csv')
df_test = pd.read_csv(path + 'test.csv')
df_train.shape, df_test.shape

((144415, 50), (36104, 49))

In [15]:
df_train.head(3)

,Type,Benefit per order,Sales per customer,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,...,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Late Delivery
0,TRANSFER,1.750000,174.570007,17,Cleats,Los Angeles,EE. UU.,XXXXXXXXX,Mary,1963,...,365,17,NaN,http://images.acmesports.sports/Perfect+Fitnes...,Perfect Fitness Perfect Rip Deck,59.990002,0,4/18/2015 16:08,First Class,1
1,PAYMENT,38.220001,109.190002,18,Men's Footwear,Chicago,EE. UU.,XXXXXXXXX,Michael,763,...,403,18,NaN,http://images.acmesports.sports/Nike+Men%27s+C...,Nike Men's CJ Elite 2 TD Football Cleat,129.990005,0,11/14/2016 11:50,Second Class,0
2,DEBIT,35.099998,129.990005,18,Men's Footwear,Caguas,Puerto Rico,XXXXXXXXX,Sarah,3198,...,403,18,NaN,http://images.acmesports.sports/Nike+Men%27s+C...,Nike Men's CJ Elite 2 TD Football Cleat,129.990005,0,4/28/2016 7:12,First Class,1

In [16]:
df_test.head(3)

,Type,Benefit per order,Sales per customer,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,TRANSFER,11.090000,175.990005,48,Water Sports,Caguas,Puerto Rico,XXXXXXXXX,Zachary,6109,...,90036.0,1073,48,NaN,http://images.acmesports.sports/Pelican+Sunstr...,Pelican Sunstream 100 Kayak,199.990005,0,4/6/2016 21:05,Standard Class
1,PAYMENT,9.800000,245.000000,24,Women's Apparel,Florissant,EE. UU.,XXXXXXXXX,Gary,12041,...,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,6/11/2017 18:43,First Class
2,TRANSFER,117.550003,244.899994,46,Indoor/Outdoor Games,Carmichael,EE. UU.,XXXXXXXXX,Andrea,4271,...,NaN,1014,46,NaN,http://images.acmesports.sports/O%27Brien+Men%...,O'Brien Men's Neoprene Life Vest,49.980000,0,1/4/2015 14:32,Standard Class

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144415 entries, 0 to 144414
Data columns (total 50 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Type                        144415 non-null  object
 1   Benefit per order           144415 non-null  float64
 2   Sales per customer          144415 non-null  float64
 3   Category Id                 144415 non-null  int64
 4   Category Name               144415 non-null  object
 5   Customer City               144415 non-null  object
 6   Customer Country            144415 non-null  object
 7   Customer Email              144415 non-null  object
 8   Customer Fname              144415 non-null  object
 9   Customer Id                 144415 non-null  int64
 10  Customer Lname              144410 non-null  object
 11  Customer Password           144415 non-null  object
 12  Customer Segment            144415 non-null  object
 13  Customer State              144415 non-null  object
 14  Customer Street             144415 non-null  object
 15  Customer Zipcode            144413 non-null  float64
 16  Department Id               144415 non-null  int64
 17  Department Name             144415 non-null  object
 18  Latitude                    144415 non-null  float64
 19  Longitude                   144415 non-null  float64
 20  Market                      144415 non-null  object
 21  Order City                  144415 non-null  object
 22  Order Country               144415 non-null  object
 23  Order Customer Id           144415 non-null  int64
 24  order date (DateOrders)     144415 non-null  object
 25  Order Id                    144415 non-null  int64
 26  Order Item Cardprod Id      144415 non-null  int64
 27  Order Item Discount         144415 non-null  float64
 28  Order Item Discount Rate    144415 non-null  float64
 29  Order Item Id               144415 non-null  int64
 30  Order Item Product Price    144415 non-null  float64
 31  Order Item Profit Ratio     144415 non-null  float64
 32  Order Item Quantity         144415 non-null  int64
 33  Sales                       144415 non-null  float64
 34  Order Item Total            144415 non-null  float64
 35  Order Profit Per Order      144415 non-null  float64
 36  Order Region                144415 non-null  object
 37  Order State                 144415 non-null  object
 38  Order Status                144415 non-null  object
 39  Order Zipcode               19780 non-null   float64
 40  Product Card Id             144415 non-null  int64
 41  Product Category Id         144415 non-null  int64
 42  Product Description         0 non-null       float64
 43  Product Image               144415 non-null  object
 44  Product Name                144415 non-null  object
 45  Product Price               144415 non-null  float64
 46  Product Status              144415 non-null  int64
 47  shipping date (DateOrders)  144415 non-null  object
 48  Shipping Mode               144415 non-null  object
 49  Late Delivery               144415 non-null  int64
dtypes: float64(15), int64(12), object(23)
memory usage: 55.1+ MB

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36104 entries, 0 to 36103
Data columns (total 49 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Type                        36104 non-null  object
 1   Benefit per order           36104 non-null  float64
 2   Sales per customer          36104 non-null  float64
 3   Category Id                 36104 non-null  int64
 4   Category Name               36104 non-null  object
 5   Customer City               36104 non-null  object
 6   Customer Country            36104 non-null  object
 7   Customer Email              36104 non-null  object
 8   Customer Fname              36104 non-null  object
 9   Customer Id                 36104 non-null  int64
 10  Customer Lname              36101 non-null  object
 11  Customer Password           36104 non-null  object
 12  Customer Segment            36104 non-null  object
 13  Customer State              36104 non-null  object
 14  Customer Street             36104 non-null  object
 15  Customer Zipcode            36103 non-null  float64
 16  Department Id               36104 non-null  int64
 17  Department Name             36104 non-null  object
 18  Latitude                    36104 non-null  float64
 19  Longitude                   36104 non-null  float64
 20  Market                      36104 non-null  object
 21  Order City                  36104 non-null  object
 22  Order Country               36104 non-null  object
 23  Order Customer Id           36104 non-null  int64
 24  order date (DateOrders)     36104 non-null  object
 25  Order Id                    36104 non-null  int64
 26  Order Item Cardprod Id      36104 non-null  int64
 27  Order Item Discount         36104 non-null  float64
 28  Order Item Discount Rate    36104 non-null  float64
 29  Order Item Id               36104 non-null  int64
 30  Order Item Product Price    36104 non-null  float64
 31  Order Item Profit Ratio     36104 non-null  float64
 32  Order Item Quantity         36104 non-null  int64
 33  Sales                       36104 non-null  float64
 34  Order Item Total            36104 non-null  float64
 35  Order Profit Per Order      36104 non-null  float64
 36  Order Region                36104 non-null  object
 37  Order State                 36104 non-null  object
 38  Order Status                36104 non-null  object
 39  Order Zipcode               5060 non-null   float64
 40  Product Card Id             36104 non-null  int64
 41  Product Category Id         36104 non-null  int64
 42  Product Description         0 non-null      float64
 43  Product Image               36104 non-null  object
 44  Product Name                36104 non-null  object
 45  Product Price               36104 non-null  float64
 46  Product Status              36104 non-null  int64
 47  shipping date (DateOrders)  36104 non-null  object
 48  Shipping Mode               36104 non-null  object
dtypes: float64(15), int64(11), object(23)
memory usage: 13.5+ MB

## 데이터 확인하기

In [19]:
df_train.describe()

,Benefit per order,Sales per customer,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,Longitude,Order Customer Id,Order Id,...,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status,Late Delivery
count,144415.000000,144415.000000,144415.000000,144415.000000,144413.000000,144415.000000,144415.000000,144415.000000,144415.000000,144415.000000,...,144415.000000,144415.000000,144415.000000,19780.000000,144415.000000,144415.000000,0.0,144415.000000,144415.0,144415.000000
mean,21.898464,182.860234,31.821937,6686.077942,35957.404818,5.441270,29.726891,-84.944885,6686.077942,36245.701271,...,203.527768,182.860234,21.898464,55355.895703,691.805553,31.821937,NaN,140.873767,0.0,0.548281
std,105.180860,120.231496,15.641587,4165.597519,37546.279920,1.630026,9.812487,21.430212,4165.597519,21039.487038,...,132.418554,120.231496,105.180860,31930.013595,336.461204,15.641587,NaN,139.788808,0.0,0.497665
min,-4274.979980,7.490000,2.000000,2.000000,603.000000,2.000000,-33.937553,-158.025986,2.000000,2.000000,...,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0,0.000000
25%,7.040000,104.370003,18.000000,3242.000000,725.000000,4.000000,18.265659,-98.469292,3242.000000,18141.000000,...,119.980003,104.370003,7.040000,23434.000000,403.000000,18.000000,NaN,50.000000,0.0,0.000000
50%,31.520000,163.990005,29.000000,6449.000000,19380.000000,5.000000,33.144863,-76.873627,6449.000000,36142.000000,...,199.919998,163.990005,31.520000,57103.000000,627.000000,29.000000,NaN,59.990002,0.0,1.000000
75%,64.790001,246.149994,45.000000,9774.000000,78207.000000,7.000000,39.279617,-66.370583,9774.000000,54171.000000,...,299.950012,246.149994,64.790001,90008.000000,1004.000000,45.000000,NaN,199.990005,0.0,1.000000
max,911.799988,1939.989990,76.000000,20757.000000,99205.000000,12.000000,48.781933,115.263077,20757.000000,77204.000000,...,1999.989990,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0,1.000000

In [21]:
# 결측치 확인
df_train.isnull().sum().to_frame('nan_cnt')

                            nan_cnt
Type                              0
Benefit per order                 0
Sales per customer                0
Category Id                       0
Category Name                     0
Customer City                     0
Customer Country                  0
Customer Email                    0
Customer Fname                    0
Customer Id                       0
Customer Lname                    5
Customer Password                 0
Customer Segment                  0
Customer State                    0
Customer Street                   0
Customer Zipcode                  2
Department Id                     0
Department Name                   0
Latitude                          0
Longitude                         0
Market                            0
Order City                        0
Order Country                     0
Order Customer Id                 0
order date (DateOrders)           0
Order Id                          0
Order Item Cardprod Id            0
Order Item Discount               0
Order Item Discount Rate          0
Order Item Id                     0
Order Item Product Price          0
Order Item Profit Ratio           0
Order Item Quantity               0
Sales                             0
Order Item Total                  0
Order Profit Per Order            0
Order Region                      0
Order State                       0
Order Status                      0
Order Zipcode                124635
Product Card Id                   0
Product Category Id               0
Product Description          144415
Product Image                     0
Product Name                      0
Product Price                     0
Product Status                    0
shipping date (DateOrders)        0
Shipping Mode                     0
Late Delivery                     0

In [22]:
df_test.isnull().sum().to_frame('nan_cnt')

                            nan_cnt
Type                              0
Benefit per order                 0
Sales per customer                0
Category Id                       0
Category Name                     0
Customer City                     0
Customer Country                  0
Customer Email                    0
Customer Fname                    0
Customer Id                       0
Customer Lname                    3
Customer Password                 0
Customer Segment                  0
Customer State                    0
Customer Street                   0
Customer Zipcode                  1
Department Id                     0
Department Name                   0
Latitude                          0
Longitude                         0
Market                            0
Order City                        0
Order Country                     0
Order Customer Id                 0
order date (DateOrders)           0
Order Id                          0
Order Item Cardprod Id            0
Order Item Discount               0
Order Item Discount Rate          0
Order Item Id                     0
Order Item Product Price          0
Order Item Profit Ratio           0
Order Item Quantity               0
Sales                             0
Order Item Total                  0
Order Profit Per Order            0
Order Region                      0
Order State                       0
Order Status                      0
Order Zipcode                 31044
Product Card Id                   0
Product Category Id               0
Product Description           36104
Product Image                     0
Product Name                      0
Product Price                     0
Product Status                    0
shipping date (DateOrders)        0
Shipping Mode                     0

In [25]:
# 결측치 비율 확인하기
(df_train.isnull().sum() / len(df_train)).to_frame('nan_ratio')

                            nan_ratio
Type                         0.000000
Benefit per order            0.000000
Sales per customer           0.000000
Category Id                  0.000000
Category Name                0.000000
Customer City                0.000000
Customer Country             0.000000
Customer Email               0.000000
Customer Fname               0.000000
Customer Id                  0.000000
Customer Lname               0.000035
Customer Password            0.000000
Customer Segment             0.000000
Customer State               0.000000
Customer Street              0.000000
Customer Zipcode             0.000014
Department Id                0.000000
Department Name              0.000000
Latitude                     0.000000
Longitude                    0.000000
Market                       0.000000
Order City                   0.000000
Order Country                0.000000
Order Customer Id            0.000000
order date (DateOrders)      0.000000
Order Id                     0.000000
Order Item Cardprod Id       0.000000
Order Item Discount          0.000000
Order Item Discount Rate     0.000000
Order Item Id                0.000000
Order Item Product Price     0.000000
Order Item Profit Ratio      0.000000
Order Item Quantity          0.000000
Sales                        0.000000
Order Item Total             0.000000
Order Profit Per Order       0.000000
Order Region                 0.000000
Order State                  0.000000
Order Status                 0.000000
Order Zipcode                0.863034
Product Card Id              0.000000
Product Category Id          0.000000
Product Description          1.000000
Product Image                0.000000
Product Name                 0.000000
Product Price                0.000000
Product Status               0.000000
shipping date (DateOrders)   0.000000
Shipping Mode                0.000000
Late Delivery                0.000000

In [56]:
# 데이터 불러오기
df_train = pd.read_csv(path + 'train.csv')
df_test = pd.read_csv(path + 'test.csv')
df_sub = pd.read_csv(path + 'sample_submission.csv')

# 결측치
# 컬럼 제거
df_train = df_train.drop(columns=['Order Zipcode', 'Product Description'])

# 결측치 제거
df_train = df_train.dropna(subset=['Customer Lname', 'Customer Zipcode'])

# 필요없는 컬럼 제거
columns_to_drop = [
    'Customer Email', 'Customer Password', 'Customer Fname', 
    'Customer Lname', 'Product Image', 'Customer Id', 'Order Id', 'Customer Zipcode',
    'Order Item Id', 'Product Card Id', 'Order Customer Id', 'Customer Street'
]

data_cleaned = df_train.drop(columns=columns_to_drop)

from sklearn.preprocessing import LabelEncoder

# 카테고리 컬럼 확인
categorical_columns = data_cleaned.select_dtypes(include=['object']).columns

# 라벨인코더
label_encoders = {}

# 라벨인코딩
for col in categorical_columns:
    le = LabelEncoder()
    data_cleaned[col] = le.fit_transform(data_cleaned[col])
    label_encoders[col] = le

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# 데이터 나누기
X = data_cleaned.drop('Late Delivery', axis=1)
y = data_cleaned['Late Delivery']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 모델 생성
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# 예측
y_pred = clf.predict(X_test)

# 확인
accuracy = accuracy_score(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

accuracy, class_report

(0.7892458970985389,
 '              precision    recall  f1-score   support\n\n           0       0.72      0.87      0.79     12976\n           1       0.87      0.72      0.79     15906\n\n    accuracy                           0.79     28882\n   macro avg       0.80      0.80      0.79     28882\nweighted avg       0.80      0.79      0.79     28882\n')

In [57]:
# 테스트 데이터
# 결측치
# 컬럼 제거
df_test = df_test.drop(columns=['Order Zipcode', 'Product Description'])

# 결측치 제거
df_test = df_test.dropna(subset=['Customer Lname', 'Customer Zipcode'])

# 필요없는 컬럼 제거
columns_to_drop = [
    'Customer Email', 'Customer Password', 'Customer Fname', 
    'Customer Lname', 'Product Image', 'Customer Id', 'Order Id', 'Customer Zipcode',
    'Order Item Id', 'Product Card Id', 'Order Customer Id', 'Customer Street'
]

data_cleaned = df_test.drop(columns=columns_to_drop)

from sklearn.preprocessing import LabelEncoder

# 카테고리 컬럼 확인
categorical_columns = data_cleaned.select_dtypes(include=['object']).columns

# 라벨인코더
label_encoders = {}

# 라벨인코딩
for col in categorical_columns:
    le = LabelEncoder()
    data_cleaned[col] = le.fit_transform(data_cleaned[col])
    label_encoders[col] = le

data_cleaned

,Type,Benefit per order,Sales per customer,Category Id,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Department Id,...,Order Profit Per Order,Order Region,Order State,Order Status,Product Category Id,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,3,11.090000,175.990005,48,46,65,1,0,34,7,...,11.090000,21,177,7,48,70,199.990005,0,15483,3
1,2,9.800000,245.000000,24,47,162,0,0,22,5,...,9.800000,3,327,6,24,59,50.000000,0,18396,0
2,3,117.550003,244.899994,46,30,73,0,1,3,7,...,117.550003,3,94,7,46,67,49.980000,0,2211,3
3,3,118.430000,251.979996,43,9,506,0,0,29,7,...,118.430000,16,341,5,43,21,299.980011,0,592,3
4,1,-21.590000,107.970001,29,38,65,1,0,34,5,...,-21.590000,1,848,2,29,102,39.990002,0,15694,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36099,0,-4.510000,24.000000,7,28,483,0,1,29,2,...,-4.510000,10,316,1,7,65,25.000000,0,18556,2
36100,1,19.570000,260.980011,43,9,284,0,1,3,7,...,19.570000,3,276,2,43,21,299.980011,0,16713,3
36101,2,76.900002,227.500000,24,47,295,0,2,5,5,...,76.900002,13,584,6,24,59,50.000000,0,9479,3
36102,1,75.199997,159.990005,48,46,65,1,0,34,7,...,75.199997,15,455,2,48,70,199.990005,0,7763,3
36103,2,8.650000,216.339996,71,36,65,1,1,34,9,...,8.650000,11,708,6,71,75,260.649994,0,2753,3

In [58]:
# 예측
y_pred = clf.predict(data_cleaned)
len(y_pred)

36100

In [59]:
df_sub = pd.read_csv(path + 'sample_submission.csv', index_col=0)
df_sub

       Late Delivery
Index
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
36099              0
36100              0
36101              0
36102              0
36103              0

[36104 rows x 1 columns]

In [60]:
df_sub['Late Delivery'] = y_pred
df_sub

ValueError: Length of values (36100) does not match length of index (36104)

In [53]:
df_test

,Type,Benefit per order,Sales per customer,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,...,Order State,Order Status,Product Card Id,Product Category Id,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,TRANSFER,11.090000,175.990005,48,Water Sports,Caguas,Puerto Rico,XXXXXXXXX,Zachary,6109,...,California,PROCESSING,1073,48,http://images.acmesports.sports/Pelican+Sunstr...,Pelican Sunstream 100 Kayak,199.990005,0,4/6/2016 21:05,Standard Class
1,PAYMENT,9.800000,245.000000,24,Women's Apparel,Florissant,EE. UU.,XXXXXXXXX,Gary,12041,...,Francisco Morazán,PENDING_PAYMENT,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,6/11/2017 18:43,First Class
2,TRANSFER,117.550003,244.899994,46,Indoor/Outdoor Games,Carmichael,EE. UU.,XXXXXXXXX,Andrea,4271,...,Baja California,PROCESSING,1014,46,http://images.acmesports.sports/O%27Brien+Men%...,O'Brien Men's Neoprene Life Vest,49.980000,0,1/4/2015 14:32,Standard Class
3,TRANSFER,118.430000,251.979996,43,Camping & Hiking,Troy,EE. UU.,XXXXXXXXX,Joyce,3521,...,Gauteng,PENDING,957,43,http://images.acmesports.sports/Diamondback+Wo...,Diamondback Women's Serene Classic Comfort Bi,299.980011,0,1/15/2017 1:46,Standard Class
4,DEBIT,-21.590000,107.970001,29,Shop By Sport,Caguas,Puerto Rico,XXXXXXXXX,Mildred,12073,...,Santiago de Chile,COMPLETE,627,29,http://images.acmesports.sports/Under+Armour+G...,Under Armour Girls' Toddler Spine Surge Runni,39.990002,0,4/8/2017 7:15,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36099,CASH,-4.510000,24.000000,7,Hockey,Staten Island,EE. UU.,XXXXXXXXX,Mary,8939,...,Estocolmo,CLOSED,134,7,http://images.acmesports.sports/Nike+Women%27s...,Nike Women's Legend V-Neck T-Shirt,25.000000,0,6/14/2015 12:33,Second Class
36100,DEBIT,19.570000,260.980011,43,Camping & Hiking,Los Angeles,EE. UU.,XXXXXXXXX,Maria,3295,...,Distrito Federal,COMPLETE,957,43,http://images.acmesports.sports/Diamondback+Wo...,Diamondback Women's Serene Classic Comfort Bi,299.980011,0,5/20/2015 12:04,Standard Class
36101,PAYMENT,76.900002,227.500000,24,Women's Apparel,Manchester,EE. UU.,XXXXXXXXX,Julia,3794,...,Maharashtra,PENDING_PAYMENT,502,24,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,2/17/2016 20:05,Standard Class
36102,DEBIT,75.199997,159.990005,48,Water Sports,Caguas,Puerto Rico,XXXXXXXXX,Julia,3901,...,Java Oriental,COMPLETE,1073,48,http://images.acmesports.sports/Pelican+Sunstr...,Pelican Sunstream 100 Kayak,199.990005,0,12/23/2015 15:26,Standard Class
36103,PAYMENT,8.650000,216.339996,71,Music,Caguas,Puerto Rico,XXXXXXXXX,Nayda,18916,...,Nueva Gales del Sur,PENDING_PAYMENT,1358,71,http://images.acmesports.sports/Rock+music,Rock music,260.649994,0,1/9/2018 2:39,Standard Class

In [54]:
df_sub

       Index  Late Delivery
0          0              0
1          1              0
2          2              0
3          3              0
4          4              0
...      ...            ...
36099  36099              0
36100  36100              0
36101  36101              0
36102  36102              0
36103  36103              0

[36104 rows x 2 columns]