In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%precision 3
%matplotlib inline

In [4]:
df = pd.read_csv('../data/ch4_scores400.csv')
df.shape

(400, 1)

In [5]:
df.head()

   score
0     76
1     55
2     80
3     80
4     74

In [6]:
scores = np.array(df['score'])
scores[:10]

array([76, 55, 80, 80, 74, 61, 81, 76, 23, 80], dtype=int64)

## 4.1 모집단과 표본

In [11]:
np.random.choice([1, 2, 3], 3)

array([3, 2, 3])

In [25]:
np.random.choice([1, 2, 3], 3, replace=False)

array([1, 2, 3])

In [26]:
np.random.seed(0)
np.random.choice([1, 2, 3], 3)

array([1, 2, 1])

In [29]:
np.random.seed(0)
sample = np.random.choice(scores, 20)
sample.mean()

70.4

In [30]:
scores.mean()

69.53

In [31]:
for i in range(5):
    sample = np.random.choice(scores, 20)
    print(f'{i+1} 번째 무작위 추출로 얻은 표본 평균', sample.mean())

1 번째 무작위 추출로 얻은 표본 평균 72.45
2 번째 무작위 추출로 얻은 표본 평균 63.7
3 번째 무작위 추출로 얻은 표본 평균 66.05
4 번째 무작위 추출로 얻은 표본 평균 71.7
5 번째 무작위 추출로 얻은 표본 평균 74.15