In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/ch1_sport_test.csv', index_col='학생번호')
df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [4]:
df['악력']

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

## 1.1 데이터의 크기

In [5]:
df.shape

(10, 5)

## 1.2 변수의 종류

### 1.2.1 질적 변수와 양적 변수

+ 질적 변수
        - 종류를 구별하기 위한 변수(설문조사 만족도, 혈액형)
    - 값이 2개뿐인 질적 변수를 2진변수라 한다
 
+ 양적 변수
    - 양을 표현하는 변수(시험 점수, 신장)
    - 수치 변수라 해서 전부 양적 변수인 것은 아니다(남성은 0, 여성은 1)

### 1.2.2 척도 수준

+ 질적 변수
    - 명의 척도
        * 단순히 분류하기 위한 변수(학생번호, 전화번호, 성별 등)
        * 목적: 구별하는 것. 변수의 동일성 여부에만 의미를 둠

    - 순서 척도
        * 순서 관계나 대소 관계에 의미가 있는 변수(성적 순위, 설문조사의 만족도 등)

+ 양적 변수
    - 간척 척도
        * 대소 관계와 함께 그 차이에도 의미를 두는 변수(연도, 온도)

    - 비례 척도
        * 대소 관계, 차이, 비 모두에 의미가 있는 변수(길이, 무게)

> 간격 척도와 비례 척도는 0이 '없음'을 나타내는지 여부를 판단
>
> 길이에서 0cm는 길이가 없음을 나타냄
>
> 온도에서 0C는 온도가 없다는 뜻이 아님

### 1.2.3 이산형 변수와 연속형 변수

+ 이산형 변수
    - 0, 1, 2 ...와 같이 하나하나의 값을 취하는 변수
    - 서로 인접한 숫자 사이에 값이 존재하지 않음
    - 주사위의 눈, 학교를 결석한 횟수, 결석한 학생 수
    
+ 연속형 변수
    - 연속적인 값을 취할 수 있는 변수
    - 어떤 두 숫자 사이에도 반드시 숫자가 존재
    - 길이, 무게, 시간 등

변수의 분류는 변수의 성질을 파악하는 지식에 의존하므로, 분석가의 판단이 필요하다.