In [9]:
import numpy as np
import pandas as pd

# Jupyter Notebook의 출력을 소수점 이하 3자리로 제한
%precision 3

# DataFrame의 출력을 소수점 이하 3자리로 제한
pd.set_option('precision', 3)

In [3]:
df = pd.read_csv('../data/ch2_scores_em.csv', index_col='student number')
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [4]:
scores = np.array(df['english'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [5]:
scores_df = pd.DataFrame({'score': scores}, index=pd.Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], name='student'))
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

## 2.1 데이터 중심의 지표

+ 대푯값: 데이터를 하나의 값으로 요약한 지표

### 2.1.1 평균값

In [10]:
sum(scores) / len(scores)

55.0

In [11]:
np.mean(scores)

55.0

In [12]:
scores_df.mean()

score    55.0
dtype: float64

### 2.1.2 중앙값

+ 중앙값(median): 데이터를 크기 순서대로 나열할 때 정확하게 중앙에 위치한 값
    - 중앙값은 평균값에 비해 이상값에 강하다는 특성이 있다. 즉 이상값에 영향을 덜 받는다는 의미
    - 데이터의 개수 n이 홀수라면, (n+1)/2번째 데이터가 중앙값
    - 데이터의 개수 n이 짝수라면, n/2번째 데이터와 (n/2)+1번째 데이터의 평균이 중앙값

In [13]:
sorted_scores = np.sort(scores)
sorted_scores

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69], dtype=int64)

In [14]:
n = len(sorted_scores)
if n % 2 == 0:
    m0 = sorted_scores[n//2 - 1]
    m1 = sorted_scores[n//2]
    median = (m0 + m1) / 2
else:
    median = sorted_scores[(n+1)//2 -1]
    
median

56.5

In [16]:
np.median(scores)

56.5

In [17]:
scores_df.median()

score    56.5
dtype: float64

### 2.1.3 최빈값

+ 최빈값(mode): 데이터에서 가장 많이 나타나는 값
    - 최빈값은 기본적으로는 질적 데이터의 기본값을 구할 때 사용하는 지표
    - 다만 도수분포표를 도입하면 양적 데이터에서도 최빈값을 자연스럽게 정의할 수 있다

In [18]:
pd.Series([1, 1, 1, 2, 2, 3]).mode()

0    1
dtype: int64

## 2.2 데이터의 산포도