In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

# notebook을 실행한 브라우저에서 바로 그림을 볼 수 있게 해주는 라인
%matplotlib inline

# 커널을 구성하다보면 에러는 아니지만, 빨간색 네모 박스 warning이 뜨는 경우를 제거 
import warnings
warnings.filterwarnings('ignore')

# 다른 노트북 작성할 때도 이 셀만 떼서 사용 가능하다.
import matplotlib.pyplot as plt 
import platform                

# 웬만하면 해주는 것이 좋다.
from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus']= False

if platform.system() == 'Darwin': # 맥os 사용자의 경우에
    plt.style.use('seaborn-darkgrid') 
    rc('font', family = 'AppleGothic')
    
elif platform.system() == 'Windows':# 윈도우 사용자의 경우에
    path = 'c:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    plt.style.use('seaborn-darkgrid') # https://python-graph-gallery.com/199-matplotlib-style-sheets/
    rc('font', family=font_name)

In [2]:
df_order = pd.read_csv('../data/슈퍼스토어 - 샘플.xls - 주문.csv')
df_order.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,국가/지역,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400
1,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420
2,3,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200
3,4,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750
4,5,IN-2021-63178,2021-06-24,2021-06-30,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,Marikina,Metro Manila,Philippines,동남아시아,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014

In [3]:
df_order.shape

(10933, 20)

In [4]:
df_return = pd.read_csv('../data/슈퍼스토어 - 샘플.xls - 반품 정리.csv')
df_return.head()

           주문 ID 반품
0  ID-2018-17286  예
1  ID-2018-17286  예
2  ID-2018-20604  예
3  ID-2018-20604  예
4  ID-2018-20604  예

In [5]:
df_human = pd.read_csv('../data/슈퍼스토어 - 샘플.xls - 인력.csv')
df_human.head()

               사람     지역
0    Sanjit Engle  동남아시아
1   Maribeth Dona  중앙아시아
2      Alex Avila   북아시아
3  Nora Pelletier  오세아니아

In [6]:
df_order['국가/지역'].unique()

array(['China', 'Philippines', 'India', 'Japan', 'Australia', 'Indonesia',
       'Vietnam', 'Malaysia', 'Thailand', 'Cambodia', 'Pakistan',
       'Myanmar (Burma)', 'South Korea', 'Nepal', 'Afghanistan',
       'Bangladesh', 'Singapore', 'Sri Lanka', 'Papua New Guinea',
       'Mongolia', 'Taiwan', 'New Zealand'], dtype=object)

In [7]:
df_order['주문 날짜'].nunique()

1261

In [8]:
df_order.isnull().sum()

행 ID     0
주문 ID    0
주문 날짜    0
배송 날짜    0
배송 형태    0
고객 ID    0
고객 이름    0
세그먼트     0
도시       0
시/도      0
국가/지역    0
지역       0
제품 ID    0
범주       0
하위 범주    0
제품 이름    0
매출       0
수량       0
할인율      0
수익       0
dtype: int64

In [9]:
df_return.isnull().sum()

주문 ID    0
반품       0
dtype: int64

In [10]:
df_return['주문 ID'].nunique()

296

In [11]:
df_order.shape

(10933, 20)

In [12]:
df_order.describe()

               행 ID            매출            수량           할인율            수익
count  10933.000000  10933.000000  10933.000000  10933.000000  10933.000000
mean    5501.108570    326.208731      3.752127      0.149724     39.518374
std     3179.318347    552.275866      2.260526      0.176511    170.856873
min        1.000000      2.880000      1.000000      0.000000  -3009.435000
25%     2747.000000     47.079900      2.000000      0.000000     -3.103200
50%     5493.000000    122.796000      3.000000      0.100000     10.830000
75%     8262.000000    348.300000      5.000000      0.270000     48.385500
max    11000.000000   6998.640000     14.000000      0.800000   2939.310000

In [13]:
# 결측치 개수 파악
# 셀 실행 결과를 데이터프레임으로 보고 싶을 때 to_frame()과 pd.DataFrame() 두 가지를 사용 가능
df_order.isnull().sum().to_frame('nan_count')
pd.DataFrame(df_order.isnull().sum(), columns=['nan_count'])

       nan_count
행 ID           0
주문 ID          0
주문 날짜          0
배송 날짜          0
배송 형태          0
고객 ID          0
고객 이름          0
세그먼트           0
도시             0
시/도            0
국가/지역          0
지역             0
제품 ID          0
범주             0
하위 범주          0
제품 이름          0
매출             0
수량             0
할인율            0
수익             0

In [14]:
# 결측치 비율 파악
pd.DataFrame(data=df_order.isnull().sum()/len(df_order), columns=['nan_ratio'])

       nan_ratio
행 ID         0.0
주문 ID        0.0
주문 날짜        0.0
배송 날짜        0.0
배송 형태        0.0
고객 ID        0.0
고객 이름        0.0
세그먼트         0.0
도시           0.0
시/도          0.0
국가/지역        0.0
지역           0.0
제품 ID        0.0
범주           0.0
하위 범주        0.0
제품 이름        0.0
매출           0.0
수량           0.0
할인율          0.0
수익           0.0

## 컬럼 확인하기

### 주문 테이블

In [15]:
df_order.head(1)

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,국가/지역,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.28,4,0.0,35.4

In [16]:
# order 테이블
# 행 ID
df_order['행 ID'].nunique()

10933

In [17]:
# 주문 ID
df_order['주문 ID'].nunique()

5397

In [18]:
# 아이디 갯수 시각화

In [19]:
# 주문 날짜
df_order['주문 날짜'].nunique()

1261

In [20]:
df_order['주문 날짜'].min()

'2018-01-01'

In [21]:
df_order['주문 날짜'].max()

'2021-12-31'

In [22]:
# 배송 날짜
df_order['배송 날짜'].nunique()

1375

In [23]:
df_order['배송 날짜'].min()

'2018-01-03'

In [24]:
df_order['배송 날짜'].max()

'2022-01-07'

In [25]:
# 고객 ID
df_order['고객 ID'].nunique()

795

In [26]:
# 고객 이름
df_order['고객 이름'].nunique()

795

In [27]:
# 세그먼트
df_order['세그먼트'].nunique()

3

In [28]:
df_order['세그먼트'].value_counts().to_frame('counts')

        counts
일반 소비자    5658
기업        3264
홈 오피스     2011

In [29]:
# 도시
df_order['도시'].nunique()

539

In [30]:
df_order.groupby(['지역', '국가/지역', '시/도'])['도시'].unique().to_frame()

                                                                                   도시
지역    국가/지역     시/도
동남아시아 Cambodia  Phnom Penh                                               [Phnom Penh]
      Indonesia Aceh                                                     [Banda Aceh]
                Bali                                                       [Denpasar]
                Bengkulu                                                   [Bengkulu]
                Jakarta                                                     [Jakarta]
...                                                                               ...
중앙아시아 Pakistan  F.C.T.                                                    [Islamabad]
                Khyber Pakhtunkhwa                                         [Peshawar]
                Punjab              [Lahore, Multan, Sargodha, Rawalpindi, Gujranw...
                Sindh                                             [Hyderabad, Sukkur]
      Sri Lanka Western                                                     [Colombo]

[182 rows x 1 columns]

In [31]:
df_order.groupby(['지역'])['국가/지역'].nunique().to_frame()

       국가/지역
지역
동남아시아      8
북아시아       5
오세아니아      3
중앙아시아      6

In [32]:
df_order.groupby(['국가/지역'])['시/도'].nunique().to_frame().sort_values('시/도', ascending=False)

                  시/도
국가/지역
China              30
Japan              26
India              23
Indonesia          23
New Zealand        14
South Korea        10
Philippines         9
Malaysia            8
Australia           8
Vietnam             6
Pakistan            5
Bangladesh          5
Taiwan              3
Afghanistan         3
Thailand            2
Papua New Guinea    1
Myanmar (Burma)     1
Singapore           1
Mongolia            1
Sri Lanka           1
Cambodia            1
Nepal               1

In [33]:
df_order.groupby(['시/도'])['도시'].nunique().to_frame().sort_values('도시', ascending=False)

                    도시
시/도
Uttar Pradesh       21
Maharashtra         21
New South Wales     18
Guangdong           15
Henan               12
...                 ..
Khyber Pakhtunkhwa   1
Khulna               1
Kandahar             1
Kalimantan Selatan   1
충남                   1

[180 rows x 1 columns]

In [34]:
df_order.groupby(['시/도'])['도시'].unique().to_frame()

                                                               도시
시/도
Aceh                                                 [Banda Aceh]
Aichi                           [Kasugai, Toyohashi, Handa, Anjo]
Andhra Pradesh  [Vijayawada, Nellore, Anantapur, Visakhapatnam...
Anhui           [Anqing, Suzhou, Huaibei, Hefei, Huainan, Huan...
Aomori                                                [Hachinohe]
...                                                           ...
부산                                                           [부산]
서울                                                           [서울]
울산                                                           [울산]
제주                                                           [애월]
충남                                                           [천안]

[180 rows x 1 columns]

In [35]:
# 범주
df_order['범주'].unique()

array(['사무용품', '가구', '기술'], dtype=object)

In [36]:
df_order['범주'].value_counts().to_frame()

        범주
사무용품  6137
가구    2415
기술    2381

In [37]:
df_order['하위 범주'].unique()

array(['용지', '사무용 집기', '복사기', '액세서리', '가전 제품', '바인더', '전화기', '레이블',
       '미술용품', '사무용품', '봉투', '의자', '사무기기', '테이블', '보관함', '책장', '잠금장치'],
      dtype=object)

In [38]:
df_order.groupby('범주')['하위 범주'].nunique().to_frame()

      하위 범주
범주
가구        4
기술        4
사무용품      9

In [39]:
df_order.describe()

               행 ID            매출            수량           할인율            수익
count  10933.000000  10933.000000  10933.000000  10933.000000  10933.000000
mean    5501.108570    326.208731      3.752127      0.149724     39.518374
std     3179.318347    552.275866      2.260526      0.176511    170.856873
min        1.000000      2.880000      1.000000      0.000000  -3009.435000
25%     2747.000000     47.079900      2.000000      0.000000     -3.103200
50%     5493.000000    122.796000      3.000000      0.100000     10.830000
75%     8262.000000    348.300000      5.000000      0.270000     48.385500
max    11000.000000   6998.640000     14.000000      0.800000   2939.310000

In [40]:
df_order['할인율'].unique()

array([0.  , 0.15, 0.1 , 0.4 , 0.45, 0.25, 0.35, 0.47, 0.17, 0.3 , 0.27,
       0.37, 0.07, 0.5 , 0.2 , 0.57, 0.8 , 0.55, 0.6 ])

In [149]:
df_order['할인율'].nunique()

19

In [41]:
df_order['할인율'].value_counts().to_frame().sort_index()

       할인율
0.00  4621
0.07   150
0.10  2203
0.15    82
0.17   735
0.20    92
0.25   198
0.27   388
0.30    62
0.35    77
0.37    74
0.40   712
0.45   314
0.47   725
0.50   449
0.55    10
0.57    12
0.60    18
0.80    11

In [42]:
df_order.groupby('할인율')['수량'].sum().to_frame()

         수량
할인율
0.00  17299
0.07    533
0.10   8456
0.15    319
0.17   2720
0.20    369
0.25    826
0.27   1453
0.30    233
0.35    284
0.37    246
0.40   2444
0.45   1141
0.47   2829
0.50   1687
0.55     36
0.57     47
0.60     65
0.80     35

In [43]:
df_order.groupby('할인율')['수익'].agg(['mean', 'std', 'min', 'max'])

            mean         std        min        max
할인율
0.00   89.948059  177.173535     0.0000  2939.3100
0.07  140.990022  217.549073  -147.6048  1554.4320
0.10   55.225098  141.806041  -288.7650  2316.5100
0.15   15.601811  106.095899  -597.6810   339.8925
0.17   38.317107  124.792466  -429.3945   946.6338
0.20   14.116239   98.795482  -553.8780   290.5980
0.25    4.043371  126.485078  -483.3000   822.6600
0.27   -4.317213   67.962153  -329.8095   368.2560
0.30 -138.034694  303.482620  -953.4420   726.8250
0.35  -65.545500  144.708248  -471.7875   226.9620
0.37  -78.462191  140.449808  -813.6144   139.6476
0.40  -51.204590  117.792450 -1479.1260   208.9800
0.45  -31.880527   55.454474  -493.3200    18.0375
0.47  -42.982420   96.963566  -916.0443    35.8176
0.50  -87.790791  216.874776 -3009.4350     0.0000
0.55 -315.067200  272.072582  -976.5000   -70.3995
0.57 -526.129000  393.058449 -1294.3503   -72.6072
0.60 -156.578000  213.177246  -875.5920    -7.9920
0.80 -684.469636  640.630471 -2380.3500  -126.4500

In [44]:
df_order[df_order['범주']=='사무용품'].groupby('할인율')['수익'].mean().to_frame()

             수익
할인율
0.00  38.557042
0.10  27.142786
0.15  15.601811
0.17  27.685866
0.27  -6.087113
0.40 -23.794562
0.45 -28.211513
0.47 -20.016522
0.50 -49.585227
0.60 -27.384000

### 반품 테이블

In [69]:
df_return.shape

(786, 2)

In [68]:
# 주문 ID
df_return['주문 ID'].nunique()

296

### 인력 테이블

In [71]:
df_human.shape

(4, 2)

In [72]:
df_human.head()

               사람     지역
0    Sanjit Engle  동남아시아
1   Maribeth Dona  중앙아시아
2      Alex Avila   북아시아
3  Nora Pelletier  오세아니아

## 변수 타입

In [46]:
# 변수 타입 파악
df_order.dtypes

행 ID       int64
주문 ID     object
주문 날짜     object
배송 날짜     object
배송 형태     object
고객 ID     object
고객 이름     object
세그먼트      object
도시        object
시/도       object
국가/지역     object
지역        object
제품 ID     object
범주        object
하위 범주     object
제품 이름     object
매출       float64
수량         int64
할인율      float64
수익       float64
dtype: object

In [47]:
df_order['행 ID'] = df_order['행 ID'].astype(str)
df_order['주문 날짜'] = pd.to_datetime(df_order['주문 날짜'])
df_order['배송 날짜'] = pd.to_datetime(df_order['배송 날짜'])
df_order.dtypes

행 ID             object
주문 ID            object
주문 날짜    datetime64[ns]
배송 날짜    datetime64[ns]
배송 형태            object
고객 ID            object
고객 이름            object
세그먼트             object
도시               object
시/도              object
국가/지역            object
지역               object
제품 ID            object
범주               object
하위 범주            object
제품 이름            object
매출              float64
수량                int64
할인율             float64
수익              float64
dtype: object

In [48]:
df_join = pd.merge(df_order, df_return, on='주문 ID', how='left')
df_join.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,...,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익,반품
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.28,4,0.0,35.40,예
1,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.28,4,0.0,35.40,예
2,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.28,4,0.0,35.40,예
3,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.28,4,0.0,35.40,예
4,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.23,7,0.0,21.42,예

In [49]:
df_join['반품'].value_counts()

예    3027
Name: 반품, dtype: int64

In [50]:
df_join['반품'] = df_join['반품'].fillna('N')
df_join['반품'] = df_join['반품'].replace('예', 'Y')
df_join['반품'].value_counts()

N    10148
Y     3027
Name: 반품, dtype: int64

In [51]:
df_order.shape

(10933, 20)

In [52]:
df_return.shape

(786, 2)

In [53]:
df_join.shape

(13175, 21)

In [54]:
df_order['주문 ID'].nunique()

5397

In [55]:
df_return['주문 ID'].nunique()

296

In [56]:
df_return.head()

           주문 ID 반품
0  ID-2018-17286  예
1  ID-2018-17286  예
2  ID-2018-20604  예
3  ID-2018-20604  예
4  ID-2018-20604  예

In [57]:
df_join.shape

(13175, 21)

In [58]:
# 반품 컬럼에 예만 있는 것을 확인
df_return['반품'].unique()

array(['예'], dtype=object)

In [59]:
# 반품 컬럼에 예만 있는 것을 확인
df_return.groupby('주문 ID').nunique()['반품'].unique()

array([1], dtype=int64)

In [60]:
df_return1 = df_return.drop_duplicates(subset='주문 ID', keep='first', ignore_index=True)
df_return1.shape

(296, 2)

In [61]:
# 다시 조인
df_join = pd.merge(df_order, df_return1, on='주문 ID', how='left')
df_join.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,...,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익,반품
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400,예
1,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420,예
2,3,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200,예
3,4,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750,예
4,5,IN-2021-63178,2021-06-24,2021-06-30,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,Marikina,Metro Manila,...,동남아시아,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014,NaN

In [62]:
df_join.shape

(10933, 21)

In [63]:
df_join['반품'] = df_join['반품'].fillna('N')
df_join['반품'] = df_join['반품'].replace('예', 'Y')
df_join['반품'].value_counts()

N    10148
Y      785
Name: 반품, dtype: int64

In [64]:
df_order.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,국가/지역,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400
1,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420
2,3,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200
3,4,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750
4,5,IN-2021-63178,2021-06-24,2021-06-30,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,Marikina,Metro Manila,Philippines,동남아시아,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014

In [65]:
df_join.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,...,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익,반품
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400,Y
1,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420,Y
2,3,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200,Y
3,4,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750,Y
4,5,IN-2021-63178,2021-06-24,2021-06-30,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,Marikina,Metro Manila,...,동남아시아,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014,N

In [73]:
df_order.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,국가/지역,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400
1,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420
2,3,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200
3,4,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750
4,5,IN-2021-63178,2021-06-24,2021-06-30,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,Marikina,Metro Manila,Philippines,동남아시아,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014

In [75]:
df_order['배송 형태'].unique()

array(['표준 등급', '2등급', '당일', '1등급'], dtype=object)

In [77]:
df_order['배송 형태'].value_counts().to_frame()

       배송 형태
표준 등급   6622
2등급     2200
1등급     1577
당일       534

In [95]:
df_order1 = df_order
df_order1['배송 시간'] = df_order1['배송 날짜'] - df_order1['주문 날짜']
df_order1['배송 시간'] = df_order1['배송 시간'].dt.days
df_order1.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,...,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익,배송 시간
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400,4
1,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420,4
2,3,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200,4
3,4,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,북아시아,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750,4
4,5,IN-2021-63178,2021-06-24,2021-06-30,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,Marikina,Metro Manila,...,동남아시아,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014,6

In [96]:
df_order1.groupby('배송 형태')['배송 시간'].unique().to_frame()

                       배송 시간
배송 형태
1등급             [1, 2, 3, 4]
2등급             [4, 2, 3, 5]
당일                    [0, 1]
표준 등급  [4, 6, 5, 7, 3, 8, 0]

In [97]:
df_order1.dtypes

행 ID             object
주문 ID            object
주문 날짜    datetime64[ns]
배송 날짜    datetime64[ns]
배송 형태            object
고객 ID            object
고객 이름            object
세그먼트             object
도시               object
시/도              object
국가/지역            object
지역               object
제품 ID            object
범주               object
하위 범주            object
제품 이름            object
매출              float64
수량                int64
할인율             float64
수익              float64
배송 시간             int64
dtype: object

In [99]:
df_order1.groupby('배송 형태')['배송 시간'].mean()

배송 형태
1등급      2.166772
2등급      3.232273
당일       0.037453
표준 등급    4.954998
Name: 배송 시간, dtype: float64

In [100]:
df1 = df_order1

In [101]:
df1['배송 시간'].unique()

array([4, 6, 0, 5, 1, 2, 3, 7, 8], dtype=int64)

In [103]:
df1['배송 시간'].value_counts().to_frame().sort_index()

   배송 시간
0    519
1    335
2   1498
3   1076
4   3190
5   2426
6   1314
7    573
8      2

In [106]:
df_join['반품'].value_counts().to_frame()

      반품
N  10148
Y    785

In [107]:
785 / (10148+785)

0.07180096954175433

In [111]:
df2 = df_join
df2['배송 시간'] = df2['배송 날짜'] - df2['주문 날짜']
df2['배송 시간'] = df2['배송 시간'].dt.days
df2.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,...,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익,반품,배송 시간
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400,Y,4
1,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420,Y,4
2,3,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200,Y,4
3,4,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,...,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750,Y,4
4,5,IN-2021-63178,2021-06-24,2021-06-30,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,Marikina,Metro Manila,...,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014,N,6

In [112]:
df2.columns

Index(['행 ID', '주문 ID', '주문 날짜', '배송 날짜', '배송 형태', '고객 ID', '고객 이름', '세그먼트',
       '도시', '시/도', '국가/지역', '지역', '제품 ID', '범주', '하위 범주', '제품 이름', '매출', '수량',
       '할인율', '수익', '반품', '배송 시간'],
      dtype='object')

In [116]:
df3 = df2[['행 ID', '주문 ID', '주문 날짜', '배송 날짜', '배송 시간', '반품', '배송 형태', '고객 ID', '고객 이름', '세그먼트',
       '도시', '시/도', '국가/지역', '지역', '제품 ID', '범주', '하위 범주', '제품 이름', '매출', '수량',
       '할인율', '수익']]

df3.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 시간,반품,배송 형태,고객 ID,고객 이름,세그먼트,...,국가/지역,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익
0,1,IN-2020-27828,2020-08-27,2020-08-31,4,Y,표준 등급,VT-21700,Valerie Takahito,홈 오피스,...,China,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400
1,2,IN-2020-27828,2020-08-27,2020-08-31,4,Y,표준 등급,VT-21700,Valerie Takahito,홈 오피스,...,China,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420
2,3,IN-2020-27828,2020-08-27,2020-08-31,4,Y,표준 등급,VT-21700,Valerie Takahito,홈 오피스,...,China,북아시아,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200
3,4,IN-2020-27828,2020-08-27,2020-08-31,4,Y,표준 등급,VT-21700,Valerie Takahito,홈 오피스,...,China,북아시아,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750
4,5,IN-2021-63178,2021-06-24,2021-06-30,6,N,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,...,Philippines,동남아시아,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014

In [127]:
df3.groupby(['배송 시간', '반품'])['반품'].count().to_frame()

            반품
배송 시간 반품
0     N    488
      Y     31
1     N    311
      Y     24
2     N   1358
      Y    140
3     N    998
      Y     78
4     N   2979
      Y    211
5     N   2261
      Y    165
6     N   1237
      Y     77
7     N    514
      Y     59
8     N      2

In [129]:
df3.groupby(['배송 형태', '반품'])['반품'].count().to_frame()

            반품
배송 형태 반품
1등급   N   1443
      Y    134
2등급   N   2020
      Y    180
당일    N    502
      Y     32
표준 등급 N   6183
      Y    439

In [131]:
df3.groupby(['배송 형태'])['배송 시간'].mean().to_frame()

          배송 시간
배송 형태
1등급    2.166772
2등급    3.232273
당일     0.037453
표준 등급  4.954998

In [133]:
df3['주문 ID'].nunique()

5397

In [134]:
df3['고객 ID'].nunique()

795

In [137]:
df3.groupby(['세그먼트', '반품'])['반품'].count().to_frame()

             반품
세그먼트   반품
기업     N   3004
       Y    260
일반 소비자 N   5262
       Y    396
홈 오피스  N   1882
       Y    129

In [139]:
df3.groupby(['세그먼트', '반품'])['매출', '수익'].sum()

                     매출           수익
세그먼트   반품
기업     N   9.876187e+05  112725.7192
       Y   8.404319e+04   16262.9256
일반 소비자 N   1.676620e+06  200469.4881
       Y   1.293260e+05   19645.5123
홈 오피스  N   6.367576e+05   72203.8920
       Y   5.207487e+04   10746.8418

In [140]:
df3.groupby(['배송 형태', '반품'])['매출', '수익'].sum()

                    매출           수익
배송 형태 반품
1등급   N   4.599474e+05   52243.1367
      Y   3.889868e+04    5972.4225
2등급   N   6.201799e+05   68803.3582
      Y   6.074592e+04    7871.4018
당일    N   1.480440e+05   15208.2840
      Y   1.400528e+04    3381.0798
표준 등급 N   2.072825e+06  249144.3204
      Y   1.517942e+05   29430.3756

In [141]:
4.599474e+05

459947.4

In [142]:
df3.groupby('반품')['매출', '수익'].sum()

              매출           수익
반품
N   3.300996e+06  385399.0993
Y   2.654441e+05   46655.2797

In [146]:
2.654441e+05/(3.300996e+06 + 2.654441e+05)

0.07442830737574983

In [147]:
46655.2797/(385399.0993 + 46655.2797)

0.10798473980980065