In [1]:
import pandas as pd
import numpy as np

In [2]:
df_order = pd.read_csv('../data/슈퍼스토어 - 샘플.xls - 주문.csv')
df_order.head()

,행 ID,주문 ID,주문 날짜,배송 날짜,배송 형태,고객 ID,고객 이름,세그먼트,도시,시/도,국가/지역,지역,제품 ID,범주,하위 범주,제품 이름,매출,수량,할인율,수익
0,1,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,OFF-PA-10000026,사무용품,용지,"Eaton Cards & Envelopes, 8.5 x 11",197.280,4,0.00,35.400
1,2,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,FUR-FU-10000944,가구,사무용 집기,"Tenex Door Stop, Black",307.230,7,0.00,21.420
2,3,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,TEC-CO-10002526,기술,복사기,"Sharp Wireless Fax, Digital",1422.240,4,0.00,526.200
3,4,IN-2020-27828,2020-08-27,2020-08-31,표준 등급,VT-21700,Valerie Takahito,홈 오피스,Quanzhou,Fujian,China,북아시아,TEC-AC-10002255,기술,액세서리,"Memorex Keyboard, Erganomic",207.450,3,0.00,78.750
4,5,IN-2021-63178,2021-06-24,2021-06-30,표준 등급,SO-20335,Sean O'Donnell,일반 소비자,Marikina,Metro Manila,Philippines,동남아시아,OFF-AP-10002882,사무용품,가전 제품,"KitchenAid Coffee Grinder, Silver",121.074,2,0.15,37.014

In [3]:
df_order.shape

(10933, 20)

In [4]:
df_return = pd.read_csv('../data/슈퍼스토어 - 샘플.xls - 반품 정리.csv')
df_return.head()

           주문 ID 반품
0  ID-2018-17286  예
1  ID-2018-17286  예
2  ID-2018-20604  예
3  ID-2018-20604  예
4  ID-2018-20604  예

In [5]:
df_human = pd.read_csv('../data/슈퍼스토어 - 샘플.xls - 인력.csv')
df_human.head()

               사람     지역
0    Sanjit Engle  동남아시아
1   Maribeth Dona  중앙아시아
2      Alex Avila   북아시아
3  Nora Pelletier  오세아니아

In [6]:
df_order['국가/지역'].unique()

array(['China', 'Philippines', 'India', 'Japan', 'Australia', 'Indonesia',
       'Vietnam', 'Malaysia', 'Thailand', 'Cambodia', 'Pakistan',
       'Myanmar (Burma)', 'South Korea', 'Nepal', 'Afghanistan',
       'Bangladesh', 'Singapore', 'Sri Lanka', 'Papua New Guinea',
       'Mongolia', 'Taiwan', 'New Zealand'], dtype=object)

In [7]:
df_order['주문 날짜'].nunique()

1261

In [8]:
df_order.isnull().sum()

행 ID     0
주문 ID    0
주문 날짜    0
배송 날짜    0
배송 형태    0
고객 ID    0
고객 이름    0
세그먼트     0
도시       0
시/도      0
국가/지역    0
지역       0
제품 ID    0
범주       0
하위 범주    0
제품 이름    0
매출       0
수량       0
할인율      0
수익       0
dtype: int64

In [9]:
df_return.isnull().sum()

주문 ID    0
반품       0
dtype: int64

In [10]:
df_return['주문 ID'].nunique()

296

In [11]:
df_order.describe()

               행 ID            매출            수량           할인율            수익
count  10933.000000  10933.000000  10933.000000  10933.000000  10933.000000
mean    5501.108570    326.208731      3.752127      0.149724     39.518374
std     3179.318347    552.275866      2.260526      0.176511    170.856873
min        1.000000      2.880000      1.000000      0.000000  -3009.435000
25%     2747.000000     47.079900      2.000000      0.000000     -3.103200
50%     5493.000000    122.796000      3.000000      0.100000     10.830000
75%     8262.000000    348.300000      5.000000      0.270000     48.385500
max    11000.000000   6998.640000     14.000000      0.800000   2939.310000