In [16]:
import numpy as np
import pandas as pd

# 트레이닝/테스트 데이터 분할
from sklearn.model_selection import train_test_split

# 데이터 표준화
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('c:/reposit/data/철원이형/iris.csv')
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0

In [5]:
df.shape

(150, 5)

In [4]:
df['class'].unique()

array([0, 1, 2], dtype=int64)

In [11]:
features = df.columns[:-1]

X = df[features] # 행렬
y = df['class'] # 벡터

In [12]:
X, y

(     sepal_length  sepal_width  petal_length  petal_width
 0             5.1          3.5           1.4          0.2
 1             4.9          3.0           1.4          0.2
 2             4.7          3.2           1.3          0.2
 3             4.6          3.1           1.5          0.2
 4             5.0          3.6           1.4          0.2
 ..            ...          ...           ...          ...
 145           6.7          3.0           5.2          2.3
 146           6.3          2.5           5.0          1.9
 147           6.5          3.0           5.2          2.0
 148           6.2          3.4           5.4          2.3
 149           5.9          3.0           5.1          1.8

 [150 rows x 4 columns],
 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 145    2
 146    2
 147    2
 148    2
 149    2
 Name: class, Length: 150, dtype: int64)

In [15]:
X_tr, X_te, y_tr, y_te = train_test_split(X, y, random_state=808)
X_tr

     sepal_length  sepal_width  petal_length  petal_width
60            5.0          2.0           3.5          1.0
36            5.5          3.5           1.3          0.2
70            5.9          3.2           4.8          1.8
35            5.0          3.2           1.2          0.2
113           5.7          2.5           5.0          2.0
..            ...          ...           ...          ...
142           5.8          2.7           5.1          1.9
147           6.5          3.0           5.2          2.0
84            5.4          3.0           4.5          1.5
121           5.6          2.8           4.9          2.0
38            4.4          3.0           1.3          0.2

[112 rows x 4 columns]